.carListPad {
    margin-top: 2cm;
    display: flex;
    height: 675px;
    
    flex-direction: column;
}

.carRentalLink{
    text-decoration: none;
}

.confirmBookingTitle{
    text-align: center;
    padding-top: 1em;
}

.carConfirm{
    display: flex;
    justify-content: center;
}

.carInfo{
    padding: 1em;
}

.rentalCost{
    padding: 1em;
}

.creditCardContainer{
    display: flex;
    justify-content: center;
    padding: 0 1em 1em 1em;
    flex-direction: column;
    align-items: center;
}

.creditCardTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.creditCardSpacing{
    padding-right: 1em;
}

.editCard{
    text-decoration: none;
}

.confirmBooking{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2em;
}

.confirmBookingFields{
    padding: 1em 2em;   
    display: flex;
    justify-content: center;
}

.confirmBookingButton{
    max-width: 500px;
}