.loginForm{
  display: flex;
  justify-content: center;
  margin-top: 7em;
  align-items: center;
}

.createAccountForm{
  display: flex;
  justify-content: center;
  align-items: center;
}


.LoginSpacing{
  padding-bottom: 2em;
}

.loginRedirect{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 0.75em;
}
.loginLink{
  text-decoration: none;
}

.loginButton{
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.resetText{
  text-align: center;
  padding-top: 1em;
}

.errorText{
  display: block;
  text-align: center;
  color: red;
  margin-top: 4.5em;
}

.loginGrid{
  margin-top: 3em;
}

.errorMessage{
  color: red;
  padding-top: 1em;
}