.accountPad {
    margin-top: 2cm;
    
}

.profile {
    text-align: center;
}

.accountInfo {
    border-radius: 25px;
    border: 2px solid;
    padding: 20px;
    width: 275px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.buttonPad {
    display: flex;
    justify-content: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid;
    padding: 20px;
    width: 275px;
    margin: 20px;
    bottom: 51px;
}

.profileInfo{
    display: flex;
    justify-content: center;
}
